---
interface Props {
    version: string | undefined,
    language: string | undefined,
    engine: string | undefined,
    developers: string[] | undefined,
    grade: number | undefined
}

const { version, language, engine, developers, grade } = Astro.props
---

<div class="w-full flex flex-col p-4 rounded-lg border border-border dark:border-border-dark">
    <h2 class="text-xs font-semibold uppercase tracking-wide mb-3 text-foreground dark:text-foreground-dark">Details</h2>
    { grade && <p><span class="text-green dark:text-green-dark">Grade</span>: {grade / 10}</p> }
    { version && <p><span class="text-green dark:text-green-dark">Version</span>: {version}</p> }
    { language && <p><span class="text-teal dark:text-teal-dark">Language(s)</span>: {language}</p> }
    { engine && <p><span class="text-sky dark:text-sky-dark">Engine</span>: {engine}</p> }
    { developers && <p><span class="text-sapphire dark:text-sapphire-dark">Developers</span>:</p><table class="table-auto rounded-lg border border-separate border-border dark:border-border-dark">
        <thead class="bg-crust dark:bg-crust-dark"><td class="px-2">Name</td><td>Role</td></thead>{developers.map((author) => {
        var a = author.split('|');
        return <tr><td class="px-2">{a[0]}</td><td>{a[1]}</td></tr>;
    })}</table> }
</div>